In [62]:
import numpy as np
import pandas as pd
from pandas_datareader import data, wb

In [63]:
link = 'https://www.iplt20.com/stats/2013/most-runs'
data = pd.read_html(link)
df1 = data[0]

highestscores = pd.read_html('https://www.iplt20.com/stats/2013/highest-scores')
df2 = highestscores[0]

In [64]:
mostrunsover = pd.read_html('https://www.iplt20.com/stats/2013/most-runs-over')
df3 = mostrunsover[0]

In [65]:
mostfours = pd.read_html('https://www.iplt20.com/stats/2013/most-fours')
df4 = mostfours[0]

In [66]:
mostsixes = pd.read_html('https://www.iplt20.com/stats/2013/most-sixes')
df5 = mostsixes[0]

In [67]:
mostsixes = pd.read_html('https://www.iplt20.com/stats/2013/most-sixes')
df5 = mostsixes[0]

In [68]:
fastest50s = pd.read_html('https://www.iplt20.com/stats/2013/fastest-fifties')
df6 = fastest50s[0].drop(['Against', 'Venue','6s', '4s', 'Runs'], axis = 1)

In [69]:
bestbatSR = pd.read_html('https://www.iplt20.com/stats/2013/best-batting-strike-rate')
df7 = bestbatSR[0]
df7
# .drop(['Against', 'Venue','6s', '4s', 'Runs'], axis = 1)

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Luke Wright,6,6,1,106,44,21.20,60,176.66,0,0,16,3
1,2,David Miller,12,12,5,418,101*,59.71,254,164.56,1,3,28,24
2,3,AB de Villiers,14,14,4,360,64,36.00,219,164.38,0,2,34,15
3,4,MS Dhoni,18,16,5,461,67*,41.90,283,162.89,0,4,32,25
4,5,Chris Gayle,16,16,4,708,175*,59.00,453,156.29,1,4,57,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,82,Ross Taylor,5,5,0,63,19,12.60,76,82.89,0,0,2,1
82,83,Johan Botha,6,6,0,43,23,7.16,52,82.69,0,0,5,1
83,84,Tillakaratne Dilshan,5,5,0,76,33,15.20,93,81.72,0,0,12,0
84,85,Bhuvneshwar Kumar,16,9,2,52,24*,7.42,71,73.23,0,0,3,1
85,86,Ricky Ponting,6,5,0,52,28,10.40,75,69.33,0,0,3,1

In [70]:
bestbatA = pd.read_html('https://www.iplt20.com/stats/2013/best-batting-average')
df8 = bestbatA[0]
df8

,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Vinay Kumar,16,5,4,70,26*,70.00,44,159.09,0,0,6,3
1,2,David Miller,12,12,5,418,101*,59.71,254,164.56,1,3,28,24
2,3,Chris Gayle,16,16,4,708,175*,59.00,453,156.29,1,4,57,51
3,4,Michael Hussey,17,17,3,733,95,52.35,566,129.50,0,6,81,17
4,5,Virat Kohli,16,16,2,634,99,45.28,457,138.73,0,6,64,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Morne Morkel,10,6,1,57,23*,11.40,29,196.55,0,0,6,3
96,97,Manpreet Gony,8,5,1,45,42,11.25,25,180.00,0,0,4,3
97,98,Abhishek Nayar,11,9,3,66,25*,11.00,73,90.41,0,0,5,0
98,99,Roelof van der Merwe,3,2,0,22,14,11.00,25,88.00,0,0,2,0
99,100,Piyush Chawla,16,11,5,64,23,10.66,57,112.28,0,0,5,3

In [72]:
writer = pd.ExcelWriter('2013.xlsx')
df1.to_excel(writer, 'Most Runs')
df2.to_excel(writer, 'Highest Score in a game')
df3.to_excel(writer, 'Most Runs (Over)')
df4.to_excel(writer, 'Most Fours')
df5.to_excel(writer, 'Most Sixes')
df6.to_excel(writer, 'Fastest 50s')
df7.to_excel(writer, 'Best Batting Strike Rate')
df8.to_excel(writer, 'Best Batting Average')

writer.save()