In [474]:
import numpy as np
import pandas as pd

In [303]:
output2013 = pd.read_excel('Duplicate2013.xlsx', header = 0)
output2013

,Unnamed: 0,Player Name,Salary,Matches,Innings,Not Outs,Runs,Batting Avg,Batting Strike Rate,Highest Score,...,Total 50s,Total 100s,Overs,Runs Conceded,Wickets Taken,Bowling Average,Econ Rate,Bowling Strike Rate,4w,5w
0,0,Aaron Finch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AB de Villiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Abhinav Mukund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Abhishek Nayar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Abu Nechim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,155,Wayne Parnell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,156,Wriddhiman Saha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,157,Yusuf Pathan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,158,Yuvraj Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,159,Zaheer Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
batting13 = pd.read_excel('2013 Batting.xlsx', sheet_name = 'Highest Score in a game', header = 0)
batting13

,Unnamed: 0,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,21,22,Aaron Finch,14,14,0,456,67,32.57,336,135.71,0,4,54,16
1,27,28,AB de Villiers,14,14,4,360,64,36.00,219,164.38,0,2,34,15
2,99,100,Abhinav Mukund,1,1,0,19,19,19.00,21,90.47,0,0,1,0
3,81,82,Abhishek Nayar,11,9,3,66,25*,11.00,73,90.41,0,0,5,0
4,9,10,Adam Gilchrist,13,13,1,294,85*,24.50,229,128.38,0,1,41,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,5,Virat Kohli,16,16,2,634,99,45.28,457,138.73,0,6,64,22
96,5,6,Virender Sehwag,13,13,1,295,95*,24.58,233,126.60,0,1,41,6
97,56,57,Wriddhiman Saha,3,3,0,70,39,23.33,56,125.00,0,0,6,4
98,17,18,Yusuf Pathan,16,16,5,332,72,30.18,240,138.33,0,1,30,14
99,61,62,Yuvraj Singh,13,13,1,238,34,19.83,190,125.26,0,0,14,15

In [11]:
bowling13 = pd.read_excel('2013 Bowling.xlsx', sheet_name = 'Most Wickets', header = 0)
bowling13

,Unnamed: 0,POS,PLAYER,Mat,Inns,Ov,Runs,Wkts,BBI,Avg,Econ,SR,4w,5w
0,0,1,Dwayne Bravo,18,18,62.3,497,32,0,15.53,7.95,11.71,1,0
1,1,2,James Faulkner,16,16,63.1,427,28,0,15.25,6.75,13.53,0,2
2,2,3,Harbhajan Singh,19,19,70.0,456,24,0,19.00,6.51,17.50,0,0
3,3,4,Mitchell Johnson,17,17,64.0,459,24,0,19.12,7.17,16.00,0,0
4,4,5,Vinay Kumar,16,16,60.1,493,23,0,21.43,8.19,15.69,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,96,Yusuf Pathan,16,5,9.0,73,1,0,73.00,8.11,54.00,0,0
96,96,97,Marlon Samuels,2,1,4.0,34,1,0,34.00,8.50,24.00,0,0
97,97,98,Harmeet Singh,1,1,4.0,34,1,0,34.00,8.50,24.00,0,0
98,98,99,Andrew McDonald,1,1,2.0,17,1,0,17.00,8.50,12.00,0,0
99,99,100,Mohammad Shami,3,3,9.0,78,1,0,78.00,8.66,54.00,0,0

In [17]:
Bowlers13 = np.array(bowling13['PLAYER'])
Batsman13 = np.array(batting13['PLAYER'])

In [32]:
Players13 = pd.Series(np.concatenate((Batsman13, Bowlers13))).unique()

In [40]:
Players13 = np.sort(Players13)

In [294]:
df.to_excel('Duplicate2013.xlsx', sheet_name = 'Output1')

In [128]:
auction13 = pd.read_html('https://www.espncricinfo.com/story/_/id/21289074')
table = pd.DataFrame(auction13[0])
table.head(2)

     Player Name    Country                     IPL Team  Cost (USD)
0  Ricky Ponting  Australia               Mumbai Indians      400000
1       RP Singh      India  Royal Challengers Bangalore      400000

In [151]:
pd.merge(df, table, left_on='Player Name', right_on= 'Player Name')

Empty DataFrame
Columns: [Player Name, Cost (USD)]
Index: []

In [173]:
df.join(table.set_index('Player Name'),on = 'Player Name')

          Player Name  Cost (USD)
0     AB  de Villiers         NaN
1        Aaron  Finch         NaN
2     Abhinav  Mukund         NaN
3     Abhishek  Nayar         NaN
4         Abu  Nechim         NaN
..                ...         ...
155    Wayne  Parnell         NaN
156  Wriddhiman  Saha         NaN
157     Yusuf  Pathan         NaN
158     Yuvraj  Singh         NaN
159      Zaheer  Khan         NaN

[160 rows x 2 columns]

In [174]:
batting13

,Unnamed: 0,POS,PLAYER,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,21,22,Aaron Finch,14,14,0,456,67,32.57,336,135.71,0,4,54,16
1,27,28,AB de Villiers,14,14,4,360,64,36.00,219,164.38,0,2,34,15
2,99,100,Abhinav Mukund,1,1,0,19,19,19.00,21,90.47,0,0,1,0
3,81,82,Abhishek Nayar,11,9,3,66,25*,11.00,73,90.41,0,0,5,0
4,9,10,Adam Gilchrist,13,13,1,294,85*,24.50,229,128.38,0,1,41,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,5,Virat Kohli,16,16,2,634,99,45.28,457,138.73,0,6,64,22
96,5,6,Virender Sehwag,13,13,1,295,95*,24.58,233,126.60,0,1,41,6
97,56,57,Wriddhiman Saha,3,3,0,70,39,23.33,56,125.00,0,0,6,4
98,17,18,Yusuf Pathan,16,16,5,332,72,30.18,240,138.33,0,1,30,14
99,61,62,Yuvraj Singh,13,13,1,238,34,19.83,190,125.26,0,0,14,15

In [244]:
batting13 = batting13[['PLAYER', 'Mat', 'Inns','NO', 'Runs','Avg', 'HS', 'SR', '4s', '6s', '50', '100']]

In [245]:
df.join(batting13).iloc[:3]

,Player Name,PLAYER,Mat,Inns,NO,Runs,Avg,HS,SR,4s,6s,50,100
0,AB de Villiers,Aaron Finch,14.0,14.0,0.0,456.0,32.57,67,135.71,54.0,16.0,4.0,0.0
1,Aaron Finch,AB de Villiers,14.0,14.0,4.0,360.0,36.00,64,164.38,34.0,15.0,2.0,0.0
2,Abhinav Mukund,Abhinav Mukund,1.0,1.0,0.0,19.0,19.00,19,90.47,1.0,0.0,0.0,0.0

In [246]:
batting13

              PLAYER  Mat  Inns  NO  Runs    Avg   HS      SR  4s  6s  50  100
0       Aaron  Finch   14    14   0   456  32.57   67  135.71  54  16   4    0
1    AB  de Villiers   14    14   4   360  36.00   64  164.38  34  15   2    0
2    Abhinav  Mukund    1     1   0    19  19.00   19   90.47   1   0   0    0
3    Abhishek  Nayar   11     9   3    66  11.00  25*   90.41   5   0   0    0
4    Adam  Gilchrist   13    13   1   294  24.50  85*  128.38  41   6   1    0
..               ...  ...   ...  ..   ...    ...  ...     ...  ..  ..  ..  ...
95      Virat  Kohli   16    16   2   634  45.28   99  138.73  64  22   6    0
96  Virender  Sehwag   13    13   1   295  24.58  95*  126.60  41   6   1    0
97  Wriddhiman  Saha    3     3   0    70  23.33   39  125.00   6   4   0    0
98     Yusuf  Pathan   16    16   5   332  30.18   72  138.33  30  14   1    0
99     Yuvraj  Singh   13    13   1   238  19.83   34  125.26  14  15   0    0

[100 rows x 12 columns]

In [217]:
batting13['PLAYER'][0]

'Aaron  Finch'

In [304]:
for i in range(0,160):
    for x in range(0,100):
        if df[0][i] == batting13['PLAYER'][x]:
            output2013['Matches'][i] = batting13['Mat'][x]
            output2013['Innings'][i] = batting13['Inns'][x]
            output2013['Not Outs'][i] = batting13['NO'][x]
            output2013['Runs'][i] = batting13['Runs'][x]
            output2013['Batting Avg'][i] = batting13['Avg'][x]
            output2013['Highest Score'][i] = batting13['HS'][x]
            output2013['Batting Strike Rate'][i] = batting13['SR'][x]
            output2013['Total 4s'][i] = batting13['4s'][x]
            output2013['Total 6s'][i] = batting13['6s'][x]
            output2013['Total 50s'][i] = batting13['50'][x]
            output2013['Total 100s'][i] = batting13['100'][x]
output2013

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Unnamed: 0,Player Name,Salary,Matches,Innings,Not Outs,Runs,Batting Avg,Batting Strike Rate,Highest Score,...,Total 50s,Total 100s,Overs,Runs Conceded,Wickets Taken,Bowling Average,Econ Rate,Bowling Strike Rate,4w,5w
0,0,Aaron Finch,NaN,14.0,14.0,0.0,456.0,32.57,135.71,67,...,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AB de Villiers,NaN,14.0,14.0,4.0,360.0,36.00,164.38,64,...,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Abhinav Mukund,NaN,1.0,1.0,0.0,19.0,19.00,90.47,19,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Abhishek Nayar,NaN,11.0,9.0,3.0,66.0,11.00,90.41,25*,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Abu Nechim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,155,Wayne Parnell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,156,Wriddhiman Saha,NaN,3.0,3.0,0.0,70.0,23.33,125.00,39,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,157,Yusuf Pathan,NaN,16.0,16.0,5.0,332.0,30.18,138.33,72,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,158,Yuvraj Singh,NaN,13.0,13.0,1.0,238.0,19.83,125.26,34,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,159,Zaheer Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
bowling13 = bowling13[['PLAYER', 'Mat', 'Inns','Ov', 'Runs', 'Wkts', 'Avg', 'Econ', 'SR', '4w', '5w']].sort_values(by = 'PLAYER', ascending = True)

In [306]:
for i in range(0,160):
    for x in range(0,100):
        if df[0][i] == bowling13['PLAYER'][x]:
            output2013['Matches'][i] = bowling13['Mat'][x]
            output2013['Innings'][i] = bowling13['Inns'][x]
            output2013['Overs'][i] = bowling13['Ov'][x]
            output2013['Runs Conceded'][i] = bowling13['Runs'][x]
            output2013['Bowling Average'][i] = bowling13['Avg'][x]
            output2013['Wickets Taken'][i] = bowling13['Wkts'][x]
            output2013['Econ Rate'][i] = bowling13['Econ'][x]
            output2013['Bowling Strike Rate'][i] = bowling13['SR'][x]
            output2013['4w'][i] = bowling13['4w'][x]
            output2013['5w'][i] = bowling13['5w'][x]
output2013

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,Unnamed: 0,Player Name,Salary,Matches,Innings,Not Outs,Runs,Batting Avg,Batting Strike Rate,Highest Score,...,Total 50s,Total 100s,Overs,Runs Conceded,Wickets Taken,Bowling Average,Econ Rate,Bowling Strike Rate,4w,5w
0,0,Aaron Finch,NaN,14.0,14.0,0.0,456.0,32.57,135.71,67,...,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AB de Villiers,NaN,14.0,14.0,4.0,360.0,36.00,164.38,64,...,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Abhinav Mukund,NaN,1.0,1.0,0.0,19.0,19.00,90.47,19,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Abhishek Nayar,NaN,11.0,3.0,3.0,66.0,11.00,90.41,25*,...,0.0,0.0,8.0,59.0,2.0,29.50,7.37,24.00,0.0,0.0
4,4,Abu Nechim,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.0,45.0,3.0,15.00,6.42,14.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,155,Wayne Parnell,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.5,137.0,6.0,22.83,9.23,14.83,0.0,0.0
156,156,Wriddhiman Saha,NaN,3.0,3.0,0.0,70.0,23.33,125.00,39,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,157,Yusuf Pathan,NaN,16.0,5.0,5.0,332.0,30.18,138.33,72,...,1.0,0.0,9.0,73.0,1.0,73.00,8.11,54.00,0.0,0.0
158,158,Yuvraj Singh,NaN,13.0,10.0,1.0,238.0,19.83,125.26,34,...,0.0,0.0,22.0,152.0,6.0,25.33,6.90,22.00,0.0,0.0
159,159,Zaheer Khan,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,47.0,5.0,9.40,7.83,7.20,1.0,0.0

In [307]:
output2013.fillna('-', inplace=True)

In [309]:
output2013.to_excel('Final2013Output.xlsx', sheet_name= 'FOutput', index = False)

In [321]:
Players13 = pd.DataFrame(Players13)

In [292]:
Players13.iloc[0] = 'Aaron  Finch'
Players13.iloc[1] = 'AB  de Villiers'
Players13

                    0
0        Aaron  Finch
1     AB  de Villiers
2     Abhinav  Mukund
3     Abhishek  Nayar
4         Abu  Nechim
..                ...
155    Wayne  Parnell
156  Wriddhiman  Saha
157     Yusuf  Pathan
158     Yuvraj  Singh
159      Zaheer  Khan

[160 rows x 1 columns]

In [384]:
def OutputYear(Year):
    batting = pd.read_excel(Year+' Batting.xlsx', sheet_name = 'Most Runs', header = 0)
    bowling = pd.read_excel(Year+' Bowling.xlsx', sheet_name = 'Most Wickets', header = 0)
    Batsman = np.array(batting['PLAYER'])
    Bowlers = np.array(bowling['PLAYER'])
    Players = pd.Series(np.concatenate((Batsman, Bowlers))).unique()
    df = pd.DataFrame(Players).sort_values(by = 0, ascending = True)
    df.to_excel(Year+'FinalOutput.xlsx', sheet_name = 'Output')
    output = df
    for count in range(1,len(output2013.columns)):
        output[output2013.columns[count]] = None
    output['Bowling Innings'] = None
    batting = batting[['PLAYER', 'Mat', 'Inns','NO', 'Runs','Avg', 'HS', 'SR', '4s', '6s', '50', '100']]
    for i in range(0,len(Players)):
        for x in range(0,len(Batsman)):
            if df[0][i] == batting['PLAYER'][x]:
                output['Matches'][i] = batting['Mat'][x]
                output['Innings'][i] = batting['Inns'][x]
                output['Not Outs'][i] = batting['NO'][x]
                output['Runs'][i] = batting['Runs'][x]
                output['Batting Avg'][i] = batting['Avg'][x]
                output['Highest Score'][i] = batting['HS'][x]
                output['Batting Strike Rate'][i] = batting['SR'][x]
                output['Total 4s'][i] = batting['4s'][x]
                output['Total 6s'][i] = batting['6s'][x]
                output['Total 50s'][i] = batting['50'][x]
                output['Total 100s'][i] = batting['100'][x]
    bowling = bowling[['PLAYER', 'Mat', 'Inns','Ov', 'Runs', 'Wkts', 'Avg', 'Econ', 'SR', '4w', '5w']]
    for i in range(0,len(Players)):
        for x in range(0,len(Bowlers)):
            if df[0][i] == bowling['PLAYER'][x]:
                output['Matches'][i] = bowling['Mat'][x]
                output['Bowling Innings'][i] = bowling['Inns'][x]
                output['Overs'][i] = bowling['Ov'][x]
                output['Runs Conceded'][i] = bowling['Runs'][x]
                output['Bowling Average'][i] = bowling['Avg'][x]
                output['Wickets Taken'][i] = bowling['Wkts'][x]
                output['Econ Rate'][i] = bowling['Econ'][x]
                output['Bowling Strike Rate'][i] = bowling['SR'][x]
                output['4w'][i] = bowling['4w'][x]
                output['5w'][i] = bowling['5w'][x]
    output.fillna('-', inplace=True)
    output.to_excel(Year+'FinalOutput.xlsx', sheet_name= 'FOutput', index = False)

In [386]:
for year in ['2013','2014','2015','2016','2017','2018','2019']:
    OutputYear(str(year))

In [411]:
salary19 = pd.read_html('https://www.iplt20.com/news/149387/vivo-ipl-2019-player-contract-extensions-announced', header = 1)
salary19_1 = salary19[0].iloc[:23]
salary19_1 = salary19_1[['Player', 'Salary']]
salary19_2 = salary19[0].iloc[:15]
salary19_2 = salary19_2[['Player.1', 'Salary.1']]
salary19_2.columns = ['Player', 'Salary']

In [429]:
salary19_3 = salary19[1].iloc[:10]
salary19_3 = salary19_3[['Player', 'Salary']]
salary19_4 = salary19[1].iloc[:13]
salary19_4 = salary19_4[['Player.1', 'Salary.1']]
salary19_4.columns = ['Player', 'Salary']

In [428]:
salary19_5 = salary19[2].iloc[:18]
salary19_5 = salary19_5[['Player', 'Salary']]
salary19_6 = salary19[2].iloc[:16]
salary19_6 = salary19_6[['Player.1', 'Salary.1']]
salary19_6.columns = ['Player', 'Salary']

In [427]:
salary19_7 = salary19[3].iloc[:15]
salary19_7 = salary19_7[['Player', 'Salary']]
salary19_8 = salary19[3].iloc[:20]
salary19_8 = salary19_8[['Player.1', 'Salary.1']]
salary19_8.columns = ['Player', 'Salary']

In [481]:
salary19 = pd.concat([salary19_1, salary19_2, salary19_3, salary19_4, salary19_5, salary19_6, salary19_7, salary19_8]).sort_values(by='Player')

In [539]:
data = pd.read_excel('2018FinalOutput.xlsx')
arr = []
for row in data['Player Name']:
    arr = np.append(arr, ' '.join(row.split()))

In [541]:
data['Player Name'] = arr

In [555]:
def tableclean_year(year):
    data = pd.read_excel(str(year)+'FinalOutput.xlsx')
    arr = []
    for row in data['Player Name']:
        arr = np.append(arr, ' '.join(row.split()))
    data['Player Name'] = arr
    
    data.to_excel(str(year)+'FinalOutput.xlsx', sheet_name='Final Table')

In [556]:
tableclean_year(2013)

In [557]:
for file in ['2014', '2015','2016','2017','2018', '2019']:
    tableclean_year(file)

In [561]:
data = pd.read_excel('2019FinalOutput.xlsx')
for i in range(0, len(data['Player Name'])):
    for x in range(0, len(salary19)):
        if data['Player Name'][i] == salary19['Player'][x]:
            data['Salary'][i] = salary19['Salary'][x]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [564]:
data.to_excel('2019FinalOutput.xlsx', sheet_name = 'Sheet1')

In [570]:
salary17 = pd.read_html('https://www.iplt20.com/news/38750/vivo-ipl-2017-player-retention-list', header = 1)

In [576]:
salary17_1 = salary17[1].iloc[:16]
salary17_1 = salary17_1[['Player Name', 'Bid Amount']]
salary17_2 = salary17[1].iloc[:16]
salary17_2 = salary17_2[['Player Name.1', 'Bid Amount.1']]
salary17_2.columns = ['Player Name', 'Bid Amount']

In [581]:
salary17_3 = salary17[1].iloc[24:43]
salary17_3 = salary17_3[['Player Name', 'Bid Amount']]
salary17_4 = salary17[1].iloc[24:38]
salary17_4 = salary17_4[['Player Name.1', 'Bid Amount.1']]
salary17_4.columns = ['Player Name', 'Bid Amount']

In [587]:
salary17_5 = salary17[1].iloc[51:71]
salary17_5 = salary17_5[['Player Name', 'Bid Amount']]
salary17_6 = salary17[1].iloc[51:69]
salary17_6 = salary17_6[['Player Name.1', 'Bid Amount.1']]
salary17_6.columns = ['Player Name', 'Bid Amount']

In [591]:
salary17_7 = salary17[1].iloc[79:99]
salary17_7 = salary17_7[['Player Name', 'Bid Amount']]
salary17_8 = salary17[1].iloc[79:96]
salary17_8 = salary17_8[['Player Name.1', 'Bid Amount.1']]
salary17_8.columns = ['Player Name', 'Bid Amount']

In [656]:
salary17 = pd.concat([salary17_1, salary17_2, salary17_3, salary17_4, salary17_5, salary17_6, salary17_7, salary17_8, auction17]).sort_values(by='Player Name')

In [657]:
salary17.set_index(np.arange(0,205), inplace = True)

In [658]:
salary17.head(4)

        Player Name Bid Amount
0    AB de Villiers   95000000
1       Aaron Finch   10000000
2  Abhimanyu Mithun    3000000
3        Adam Milne    7000000

In [659]:
data = pd.read_excel('2017FinalOutput.xlsx')
for i in range(0, len(data['Player Name'])):
    for x in range(0, len(salary17)):
        if data['Player Name'][i] == salary17['Player Name'][x]:
            data['Salary'][i] = salary17['Bid Amount'][x]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [660]:
data.to_excel('2017FinalOutput.xlsx', sheet_name = 'Final Output')

In [638]:
auction17 = pd.read_html('https://www.cricketcountry.com/news/ipl-2017-auction-complete-list-of-sold-players-with-price-indian-premier-league-10-578311')

In [640]:
auction17 = auction17[0].iloc[2:]

In [653]:
auction17.columns = ['Player Name', 'Bid Amount']

In [654]:
auction17.set_index(np.arange(0,65), inplace = True)

In [655]:
auction17

        Player Name Bid Amount
0       Eoin Morgan   20000000
1        Pawan Negi   10000000
2    Angelo Mathews   20000000
3        Ben Stokes  145000000
4    Corey Anderson   10000000
..              ...        ...
60   Aksh Deep Nath    1000000
61     Darren Bravo    5000000
62     Manoj Tiwary    5000000
63      Sayan Ghosh    1000000
64  Lockie Ferguson    5000000

[65 rows x 2 columns]

In [723]:
import requests

url = 'https://starsunfolded.com/salary-of-ipl-players/'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

salary18 = pd.read_html(r.text)

In [740]:
salary18['Salary'].str.split().get(0)[:2]

['â‚¹11', 'crore']

In [725]:
salary18_1 = salary18[0]
salary18_2 = salary18[1]

In [726]:
salary18 = pd.concat([salary18[0], salary18[1], salary18[2], salary18[3], salary18[4], salary18[5], salary18[6], salary18[7]])

In [730]:
salary18.sort_values(by='Player Name', inplace = True)

In [732]:
salary18 = salary18.set_index(np.arange(0,189))

In [734]:
salary18

,Player Name,Salary,Role,Country
0,AB de Villiers,â‚¹11 crore (Retained),Batsman,South Africa
1,Aaron Finch,â‚¹6.2 crore,Batsman,Australia
2,Abhishek Sharma,â‚¹55 lakh,Spin-bowler,India
3,Aditya Tare,â‚¹20 lakh,Wicket-keeper batsman,India
4,Ajinkya Rahane (Captain),â‚¹4 crore,Batsman,India
...,...,...,...,...
184,Wriddhiman Saha,â‚¹5 crore,Wicket-keeper batsman,India
185,Yusuf Pathan,â‚¹1.9 crore,All-rounder,India
186,Yuvraj Singh,â‚¹2 crore,Batsman,India
187,Yuzvendra Chahal,â‚¹6 crore,Spin-bowler,India
188,Zahir Khan,â‚¹60 lakh,Spin-bowler,Afghanistan

In [750]:
data = pd.read_excel('2018FinalOutput.xlsx')
for i in range(0, len(data['Player Name'])):
    for x in range(0, len(salary18)):
        if data['Player Name'].str.split().get(i)[:2] == salary18['Player Name'].str.split().get(x)[:2]:
            data['Salary'][i] = salary18['Salary'][x]
            data['Role'][i] = salary18['Role'][x]
            data['Country'][i] = salary18['Country'][x]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [755]:
data.to_excel('2018FinalOutput.xlsx')

In [761]:
salary15 = pd.read_html('https://www.iplt20.com/news/39087', header = 0)

In [766]:
salary15 = salary15[0][['Player', 'Country', 'Actual Salary (INR)']]

In [770]:
auction15_1 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-chennai-super-kings-csk-for-ipl-8-251184', header = 0)

In [772]:
auction15_1 = auction15_1[0]

In [773]:
auction15_2 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-delhi-daredevils-dd-for-ipl-8-251187', header = 0)

In [776]:
auction15_2 = auction15_2[0]

In [777]:
auction15_3 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-kings-xi-punjab-kxip-for-ipl-8-251200', header = 0)

In [778]:
auction15_3 = auction15_3[0]

In [780]:
auction15_4 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-kolkata-knight-riders-kkr-for-ipl-8-251167', header = 0)

In [781]:
auction15_4 = auction15_4[0]

In [783]:
auction15_5 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-mumbai-indians-mi-for-ipl-8-251227', header = 0)

In [784]:
auction15_5 = auction15_5[0]

In [787]:
auction15_6 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-rajasthan-royals-rr-for-ipl-8-251221', header = 0)

In [788]:
auction15_6 = auction15_6[0]

In [790]:
auction15_7 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-royal-challengers-bangalore-rcb-for-ipl-8-251195', header = 0)

In [791]:
auction15_7 = auction15_7[0]

In [794]:
auction15_8 = pd.read_html('https://www.cricketcountry.com/news/ipl-2015-auction-full-list-of-players-bought-by-sunrisers-hyderabad-srh-for-ipl-8-251213', header = 0)

In [795]:
auction15_8 = auction15_8[0]

In [799]:
auction15 = pd.concat([auction15_1, auction15_2, auction15_3, auction15_4, auction15_5, auction15_6, auction15_7, auction15_8])

In [801]:
auction15.sort_values(by = 'Players', inplace = True)

In [804]:
auction15.set_index(np.arange(0,67), inplace = True)

In [809]:
auction15

,Players,Base Price,Selling Price,Playing Role,Country
0,Aaron Finch,"Rs. 1,00,00,000","Rs. 3,20,00,000",Batsman,Australia
1,Abhimanyu Mithun,"Rs. 30,00,000","Rs. 30,00,000",Bowler,India
2,Adam Milne,"Rs. 30,00,000","Rs. 70,00,000",Bowler,New Zealand
3,Aditya Garhwal,"Rs. 10,00,000","Rs. 25,00,000",All-rounder,India
4,Aiden Blizzard,"Rs. 30,00,000","Rs. 30,00,000",Batsman,Australia
...,...,...,...,...,...
62,Trent Boult,"Rs. 50,00,000","Rs. 3,80,00,000",Bowler,New Zealand
63,Vaibhav Rawal,"Rs. 10,00,000","Rs. 10,00,000",Batsman,India
64,Yogesh Golwalker,"Rs. 10,00,000","Rs. 10,00,000",Batsman,India
65,Yuvraj Singh,"Rs. 2,00,00,000","Rs. 16,00,00,000",Batsman,India
66,Zaheer Khan,"Rs. 1,00,00,000","Rs. 4,00,00,000",Bowler,India

In [806]:
data = pd.read_excel('2015FinalOutput.xlsx')
for i in range(0, len(data['Player Name'])):
    for x in range(0, len(salary15)):
        if data['Player Name'][i] == salary15['Player'][x]:
            data['Salary'][i] = salary15['Actual Salary (INR)'][x]
            data['Country'][i] = salary15['Country'][x]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [810]:
for i in range(0, len(data['Player Name'])):
    for x in range(0, len(auction15)):
        if data['Player Name'][i] == auction15['Players'][x]:
            data['Salary'][i] = auction15['Selling Price'][x]
            data['Role'][i] = auction15['Playing Role'][x]
            data['Country'][i] = auction15['Country'][x]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [812]:
data.to_excel('2015FinalOutput.xlsx')

In [816]:
import requests

url = 'https://www.crictracker.com/vivo-ipl-2016-auction-players-bought-sold-and-unsold/'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

salary16 = pd.read_html(r.text, header = 0)

In [829]:
salary16 = pd.concat([salary16[0], salary16[1], salary16[2], salary16[3], salary16[4], salary16[5], salary16[6], salary16[7]])

In [831]:
salary16.sort_values(by='Player', inplace = True)

In [833]:
salary16.set_index(np.arange(0,94), inplace = True)

In [843]:
salary16['Price Paid'] = salary16['Price Paid']/10000000

In [845]:
data = pd.read_excel('2016FinalOutput.xlsx')
for i in range(0, len(data['Player Name'])):
    for x in range(0, len(salary16)):
        if data['Player Name'][i] == salary16['Player'][x]:
            data['Salary'][i] = salary16['Price Paid'][x]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [846]:
data.to_excel('2016FinalOutput.xlsx')

In [849]:
data19 = pd.read_excel('2019FinalOutput.xlsx')

In [852]:
for i in range(len(data19['Salary(In Crore)'])):
    if data19['Salary(In Crore)'][i] != '-':
        data19['Salary(In Crore)'][i] = data19['Salary(In Crore)'][i]/100

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [854]:
data19.to_excel('2019FinalOutput.xlsx')

In [858]:
data17 = pd.read_excel('2017FinalOutput.xlsx')

In [877]:
import urllib
import bs4 as bs
import re
import numpy as np
import pandas as pd

In [878]:
sheet = pd.read_excel('2015FinalOutput.xlsx')

In [880]:
number = len(sheet)

In [904]:
for i in range(0, 724):
    for x in range (0,number):
        url = 'https://moneyball.insidesport.co/single-player.php?id='+str(i)
        page = urllib.request.urlopen(url)
        from bs4 import BeautifulSoup
        soup = BeautifulSoup(page, "lxml")
        if soup.title.string.split()[:2] == sheet['Player Name'][x].split()[:2]:
            salarytable = pd.read_html(url)
            salarytable = salarytable[0]
            for z in range(0, len(salarytable)):
                if salarytable['Year'][z] == '2015' or salarytable['Year'][z] == '2015   (Retain)' or salarytable['Year'][z] == '2015   ( Injured )':
                    sheet['Salary'][x] = salarytable['Salary'][z]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

URLError: <urlopen error [Errno 0] Error>

In [892]:
url = 'https://moneyball.insidesport.co/single-player.php?id=242'
page = urllib.request.urlopen(url)
from bs4 import BeautifulSoup
soup = BeautifulSoup(page, "lxml")

<!DOCTYPE html>
<html lang="en">
 <!-- Mirrored from html.iwthemes.com/sportscup/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2018 09:24:46 GMT -->
 <head>
  <!-- Basic -->
  <meta charset="utf-8"/>
  <title>
   David Warner  IPL Sunrisers Hyderabad, IPL Salary â‚¹125,000,000 in 2020 and Total IPL income â‚¹ 585,017,300
  </title>
  <meta content="Total IPL income â‚¹585,017,300 , IPL Sunrisers Hyderabad , Australia and 2020 IPL salary â‚¹125,000,000 of David Warner . His Impact Rank 0 , Value for money Rank 0 and IPL rank 16 as well." name="description"/>
  <link href="https://moneyball.insidesport.co/images/febicon.png" rel="shortcut icon" type="image/x-icon"/>
  <meta content="salaries of the Indian pro leagues,Indian pro leagues Player salaries, IPL Plyers Salaries, IPL Salary Rankings, IPL 100 Crore Club, IPL Top money earners-2018,IPL 11 years salary report, IPL Top earning all rounders, IPL 50 Crore Club, IPL Top earning batsman, IPL Top earning wicketkeepers, IPL Top earning bowlers, IPL Top earning foreigner, IPL Top earning countries, IPL Top spending franchises. " name="keywords"/>
  <meta content="NNIz6wtFAoNHYyd89HHAwajxTw-Dc86p8lRlf7z0jTc" name="google-site-verification"/>
  <meta content="14205ccb59c8895f" name="yandex-verification"/>
  <meta content="84B208B03C0F604830929A01CAC295B0" name="msvalidate.01"/>
  <meta content="238508813257551" property="fb:pages"/>
  <meta content="global" name="distribution"/>
  <meta content="en-gb" http-equiv="content-language"/>
  <meta content="ALL" name="WEBCRAWLERS"/>
  <meta content="All, FOLLOW" name="MSNBOTS"/>
  <meta content="all" name="Googlebot-Image"/>
  <meta content="All, FOLLOW" name="BINGBOTS"/>
  <meta content="All, FOLLOW" name="YAHOOBOTS"/>
  <meta content="All, FOLLOW" name="GOOGLEBOTS"/>
  <meta content=" Know all about your favorite players professional salaries, clubs and the pro leagues. " name="classification"/>
  <meta charset="utf-8"/>
  <!-- Mobile Metas -->
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <!-- Theme CSS -->
  <link href="https://moneyball.insidesport.co/assets/css/main.css" media="screen" rel="stylesheet"/>
  <!-- Favicons -->
  <link href="https://moneyball.insidesport.co/img/icons/favicon.png" rel="shortcut icon"/>
  <link href="https://moneyball.insidesport.co/img/icons/apple-touch-icon.png" rel="apple-touch-icon"/>
  <link href="https://moneyball.insidesport.co/img/icons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="https://moneyball.insidesport.co/img/icons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-119539566-1">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'UA-119539566-1');
  </script>
  <!-- Begin comScore Tag -->
  <script>
   var _comscore = _comscore || [];

  _comscore.push({ c1: "2", c2: "25497673" });

  (function() {

    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;

    s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";

    el.parentNode.insertBefore(s, el);

  })();
  </script>
  <noscript>
   <img src="https://sb.scorecardresearch.com/p?c1=2&amp;c2=25497673&amp;cv=2.0&amp;cj=1"/>
  </noscript>
  <!-- End comScore Tag -->
  <!-- End Global site tag (gtag.js) - Google Analytics -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function () {

    Disable full page

    $('body').bind('cut copy paste', function (e) {

        e.preventDefault();

    });



    Disable part of page

    $('#id').bind('cut copy paste', function (e) {

        e.preventDefault();

    });

});

</script>



<script type="text/javascript">

$(document).ready(function () {

    Disable cut copy paste

    $('body').bind('cut copy paste', function (e) {

        e.preventDefault();

    });



    Disable mouse right click

    $("body").on("contextmenu",function(e){

        return false;

    });

});

</script>-->
 </head>
 <body>
  <script src="https://moneyball.insidesport.co/js/fusioncharts.js">
  </script>
  <script src="https://moneyball.insidesport.co/js/fusioncharts.charts.js">
  </script>
  <script src="https://moneyball.insidesport.co/js/fusioncharts.theme.fint.js">
  </script>
  <!-- layout-->
  <div id="layout">
   <header>
    <!-- End headerbox-->
    <div class="headerbox">
     <div class="container">
      <div class="row justify-content-between align-items-center">
       <!-- Logo-->
       <div class="col">
        <div class="logo">
         <a href="https://moneyball.insidesport.co/" title="Return Home">
          <img alt="Logo" class="logo_img" src="https://moneyball.insidesport.co/img/logo.jpg"/>
         </a>
        </div>
       </div>
       <!-- End Logo-->
       <!-- Adds Header-->
       <div class="col">
        <div class="adds">
         <a href="http://insidesport.co">
          <img alt="" class="img-responsive" src="https://moneyball.insidesport.co/img/adds/banner.jpg"/>
         </a>
        </div>
        <!-- Call Nav Menu-->
        <a class="mobile-nav" href="#mobile-nav">
         <i class="fa fa-bars">
         </i>
        </a>
        <!-- End Call Nav Menu-->
       </div>
       <!-- End Adds Header-->
      </div>
     </div>
    </div>
    <!-- End headerbox-->
   </header>
   <!-- End Header-->
   <!-- mainmenu-->
   <nav class="mainmenu">
    <div class="container">
     <!-- Menu-->
     <ul class="sf-menu" id="menu">
      <li class="current">
       <a href="https://www.insidesport.co/">
        HOME
       </a>
      </li>
      <li class="current">
       <a href="https://moneyball.insidesport.co/">
        Moneyball
       </a>
      </li>
      <li class="current">
       <a href="#">
        LEAGUES
       </a>
       <ul class="sub-current">
        <li>
         <a href="https://moneyball.insidesport.co/ipl.php">
          IPL
         </a>
         <ul class="sub-current">
          <li>
           <a href="https://moneyball.insidesport.co/iplnews.php">
            NEWS
           </a>
           <ul class="sub-current">
            <li>
             <a href="https://moneyball.insidesport.co/iplnews.php">
              IPL NEWS
             </a>
            </li>
            <li>
             <a href="https://moneyball.insidesport.co/allteamnews.php">
              TEAM NEWS
             </a>
            </li>
            <li>
             <a href="https://moneyball.insidesport.co/allplayernews.php">
              PLAYER NEWS
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/teams.php">
            IPL TEAMS
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/table-salary.php">
            TOP PLAYERS SALARY
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/country-teams.php">
            COUNTRY
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="https://moneyball.insidesport.co/isl/">
          ISL
         </a>
         <ul class="sub-current">
          <li>
           <a href="https://moneyball.insidesport.co/isl/islnews">
            NEWS
           </a>
           <ul class="sub-current">
            <li>
             <a href="https://moneyball.insidesport.co/isl/islnews/">
              ISL NEWS
             </a>
            </li>
            <li>
             <a href="#">
              TEAM NEWS
             </a>
            </li>
            <li>
             <a href="#">
              PLAYER NEWS
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/isl/islteams/">
            ISL TEAMS
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/isl/country-teams/">
            COUNTRY
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="https://moneyball.insidesport.co/pkl/">
          PKL
         </a>
         <ul class="sub-current">
          <li>
           <a href="https://moneyball.insidesport.co/pkl/pklnews">
            NEWS
           </a>
           <ul class="sub-current">
            <li>
             <a href="https://moneyball.insidesport.co/pkl/pklnews/">
              PKL NEWS
             </a>
            </li>
            <li>
             <a href="#">
              TEAM NEWS
             </a>
            </li>
            <li>
             <a href="#">
              PLAYER NEWS
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/pkl/pklteams/">
            PKL TEAMS
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/pkl/country-teams/">
            COUNTRY
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </li>
      <li>
       <a href="https://moneyball.insidesport.co/ipl-index.php">
        IPL
       </a>
      </li>
      <li>
       <a href="https://moneyball.insidesport.co/intelligence.php">
        Moneyball Intelligence
       </a>
      </li>
     </ul>
     <div class="bnr_sr_wrap srch_cont_inn">
      <form action="https://moneyball.insidesport.co/search_result.php" class="form-horizontal frm_hrz_dp" method="post" name="frmsearch">
       <input class="form-control" id="menusearchName" name="menusearchName" placeholder="Type your Key name" type="text" value=""/>
       <span class="input-group-btn">
        <button class="btn btn-primary dp_srch_btn" name="searchName" type="submit">
         Search
        </button>
       </span>
      </form>
     </div>
     <a class="pull-right mnybll_caltr" href="https://moneyball.insidesport.co/mbsearchresult.php">
      Moneyball Calculator
     </a>
     <!-- End Menu-->
    </div>
   </nav>
   <!-- End mainmenu-->
   <div class="hero-header hero-bg hero-header-inner">
    <div class="container-fluid cntnr_fld_dp">
     <div class="row">
      <div class="col-lg-12 lg-bx_mrgn">
       <div class="box-start">
        <div class="container">
        </div>
        <!--container main-->
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- Mobile Nav-->
   <div id="mobile-nav">
    <!-- Menu-->
    <div class="container">
     <!-- Menu-->
     <ul>
      <li class="current">
       <a href="https://www.insidesport.co/">
        HOME
       </a>
      </li>
      <li class="current">
       <a href="https://moneyball.insidesport.co/">
        Moneyball
       </a>
      </li>
      <li class="current">
       <a href="https://moneyball.insidesport.co/iplnews.php">
        News
       </a>
      </li>
      <li class="current">
       <a href="#">
        LEAGUES
       </a>
       <ul>
        <li>
         <a href="https://moneyball.insidesport.co/ipl.php">
          IPL
         </a>
         <ul>
          <li>
           <a href="https://moneyball.insidesport.co/iplnews.php">
            NEWS
           </a>
           <ul class="sub-current">
            <li>
             <a href="https://moneyball.insidesport.co/iplnews.php">
              IPL NEWS
             </a>
            </li>
            <li>
             <a href="https://moneyball.insidesport.co/allteamnews.php">
              TEAM NEWS
             </a>
            </li>
            <li>
             <a href="https://moneyball.insidesport.co/allplayernews.php">
              PLAYER NEWS
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/teams.php">
            IPL TEAMS
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/table-salary.php">
            TOP PLAYERS SALARY
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/country-teams.php">
            COUNTRY
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="https://moneyball.insidesport.co/isl/">
          ISL
         </a>
         <ul class="sub-current">
          <li>
           <a href="https://moneyball.insidesport.co/isl/islnews">
            NEWS
           </a>
           <ul class="sub-current">
            <li>
             <a href="https://moneyball.insidesport.co/isl/islnews/">
              ISL NEWS
             </a>
            </li>
            <li>
             <a href="#">
              TEAM NEWS
             </a>
            </li>
            <li>
             <a href="#">
              PLAYER NEWS
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/isl/islteams/">
            ISL TEAMS
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/isl/country-teams/">
            COUNTRY
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="https://moneyball.insidesport.co/pkl/">
          PKL
         </a>
         <ul class="sub-current">
          <li>
           <a href="https://moneyball.insidesport.co/pkl/pklnews">
            NEWS
           </a>
           <ul class="sub-current">
            <li>
             <a href="https://moneyball.insidesport.co/pkl/pklnews/">
              PKL NEWS
             </a>
            </li>
            <li>
             <a href="#">
              TEAM NEWS
             </a>
            </li>
            <li>
             <a href="#">
              PLAYER NEWS
             </a>
            </li>
           </ul>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/pkl/pklteams/">
            PKL TEAMS
           </a>
          </li>
          <li>
           <a href="https://moneyball.insidesport.co/pkl/country-teams/">
            COUNTRY
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </li>
      <li>
       <a href="https://moneyball.insidesport.co/intelligence.php">
        MoneyBall INTELLIGENCE
       </a>
      </li>
     </ul>
     <div class="menu_right menu_right_mob">
      <div class="bnr_sr_wrap srch_cont_inn">
       <form action="https://moneyball.insidesport.co/search_result.php" class="form-horizontal frm_hrz_dp" method="post" name="frmsearch">
        <input class="form-control" id="menusearchName" name="menusearchName" placeholder="Enter the name of Player/Team/Country" type="text" value=""/>
        <span class="input-group-btn">
         <button class="btn btn-primary dp_srch_btn" name="searchName" type="submit">
          Search
         </button>
        </span>
       </form>
      </div>
      <a class="pull-right mnybll_caltr mnybll_caltr_inn" href="https://moneyball.insidesport.co/moneyball-search/">
       Money Ball Calculator
      </a>
     </div>
     <!--menu_right_mob-->
     <!-- End Menu-->
    </div>
    <!-- End Menu-->
   </div>
   <!-- End Mobile Nav-->
   <!-- Section Title -->
   <div class="section-title single-player" style="background:url(https://moneyball.insidesport.co/img/singleplayer/DavidWarner2.jpg)">
    <div class="container">
    </div>
   </div>
   <!-- End Section Title -->
   <!-- Section Area - Content Central -->
   <section class="content-info">
    <!-- Single Team Tabs -->
    <div class="single-player-tabs">
     <div class="container">
      <div class="row">
       <!-- Side info single team-->
       <div class="col-lg-4 col-xl-3">
        <div class="item-player single-player">
         <div class="head-player">
          <img alt="location-team" src="https://moneyball.insidesport.co/img/singleplayer/DavidWarner1.jpg"/>
         </div>
         <div class="info-player">
          <span class="number-player">
           16
          </span>
          <h4>
           David Warner
          </h4>
          <ul>
           <li>
            <strong>
             TEAM :
            </strong>
            <a href="https://moneyball.insidesport.co/single-team.php?id=8&amp;section=2020">
             <img alt="" src="img/clubs-logos/ipl_teamlogo/Hadrabad.png"/>
             Sunrisers Hyderabad
            </a>
           </li>
           <li>
            <strong>
             SALARY (2020) :
            </strong>
            <span>
             â‚¹ 125,000,000
            </span>
           </li>
           <li>
            <strong>
             NATIONALITY:
            </strong>
            <a href="https://moneyball.insidesport.co/single-countryteam.php?cname=Australia&amp;section=2020">
             <span>
              <img alt="" src="https://moneyball.insidesport.co/img/clubs-logos/flag/Australia.jpg"/>
              Australia
             </span>
            </a>
           </li>
           <li>
            <strong>
             TOTAL IPL INCOME:
            </strong>
            <span>
             â‚¹ 585,017,300
            </span>
           </li>
           <li>
            <strong>
             IPL Salary Rank:
            </strong>
            <a href="https://moneyball.insidesport.co/topplayers.php?section=Player">
             <span>
              16
             </span>
            </a>
           </li>
          </ul>
          <h6>
           Follow
          </h6>
          <ul class="social-player">
           <li>
            <div>
             <a class="facebook" href="https://www.facebook.com/davidwarner31/" target="_blank">
              <i class="fa fa-facebook">
              </i>
             </a>
            </div>
           </li>
           <li>
            <div>
             <a class="twitter-icon" href="https://twitter.com/davidwarner31" target="_blank">
              <i class="fa fa-twitter">
              </i>
             </a>
            </div>
           </li>
           <li>
            <div>
             <a class="instagram" href="https://www.instagram.com/davidwarner31/?hl=en" target="_blank">
              <i class="fa fa-instagram">
              </i>
             </a>
            </div>
           </li>
          </ul>
         </div>
        </div>
        <div class="panel-box">
         <div class="titles no-margin">
          <h4>
           <i class="fa fa-user">
           </i>
           IMPACT RANK
          </h4>
         </div>
         <ul class="list-panel">
          <li>
           <p>
            <a href="https://moneyball.insidesport.co/impact.php?section=impactindex">
             Impact Rank
             <span>
              0
             </span>
            </a>
           </p>
          </li>
          <li>
           <p>
            <a href="https://moneyball.insidesport.co/impact.php?section=impactindex">
             Impact Points
             <span>
             </span>
            </a>
           </p>
          </li>
          <li>
           <p>
            <a href="https://moneyball.insidesport.co/impact.php?section=moneyindex">
             Value For Money Rank
             <span>
              0
             </span>
            </a>
           </p>
          </li>
         </ul>
        </div>
        <div class="panel-box">
         <div class="titles no-margin">
          <h4>
           <i class="fa fa-user">
           </i>
           Personal Info
          </h4>
         </div>
         <ul class="list-panel">
          <li>
           <p>
            Role
            <span>

In [893]:
soup.title.string.split()[:2]

['David', 'Warner']

In [894]:
test = pd.read_html(url)

In [902]:
test[0]['Year']

0        2020 (Retain)
1        2019 (Retain)
2     2018 (Suspended)
3                 2017
4                 2016
5                 2015
6                 2014
7                 2013
8                 2012
9                 2011
10                2010
11                2009
12               Total
Name: Year, dtype: object

In [ ]:
sheet['Player Name'][0].split()[:2]

In [905]:
sheet.to_excel('2015Salary.xlsx')